* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1ebfc1;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* animation hero */
@keyframes fadeInWithDelay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animation-element {
    animation-name: fadeInWithDelay;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* =============Common========== */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 0 16px;
    min-width: 186px;
    line-height: 68px;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}
.heading.lv3 {
    font-size: 2.2rem;
}

/* =============Header========== */

.header-sticky {
    background: #fff;
    position: sticky;
    z-index: 1;
    top: -40px;
}
.header-body {
    display: flex;
    align-items: center;
    padding: 52px 0 12px;
}

.header-body .nav {
    display: flex;
    margin-left: auto;
}
.header-body .nav ul {
    display: flex;
}
.header-body .nav ul a {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header-body .nav ul a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header-body .btn-action .sign-in {
    margin-left: 177px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px 24px;
}

.header-body .btn-action .sign-up {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

/* =============Hero========== */

.hero {
    padding: 38px 0 79px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-body .content-block {
    width: 39%;
}

.hero-body .content-block .label {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.hero-body .content-block h1 {
    margin-top: 18px;
}

.hero-body .content-block .desc {
    max-width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-body .content-block .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-body .content-block .cta-group .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.03);
    margin-left: 50px;
}

.hero-body .media-block {
    position: relative;
    width: 55%;
}

.hero-body .media-block .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: auto;
}

.hero-body .media-block .course {
    position: absolute;
    display: flex;
    align-items: center;
    top: 149px;
    margin-left: 25px;
    max-width: 157px;
    padding: 18px 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-body .media-block .course .img-book {
    position: relative;
    margin-right: 16px;
}

.hero-body .media-block .course .img-book::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 4px;
    bottom: 8px;
    left: 4px;
    border-radius: 999px;
    background: #fff;
}

.hero-body .media-block .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-body .media-block .schedule {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 124px;
    height: 132px;
    bottom: 46px;
    left: 0;
    padding: 16px 25px 23px 25px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-body .media-block .schedule img:first-of-type {
    margin: 16px 0 12px;
}

.hero-body .media-block .schedule img:nth-of-type(3) {
    margin: 10px 0 16px;
}

.hero-body .media-block .avatar-block {
    position: absolute;
    width: 207px;
    height: 90px;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-body .media-block .avatar-block .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero-body .media-block .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
    background: var(--primary-color);
    color: #fff;
}

.hero-body .media-block .avatar-block img:first-child {
    margin-left: 0;
}

/* =============Feature========== */

.feature {
    margin-top: 65px;
    padding: 65px 0;
}

.feature .main-content {
    padding-right: 146px;
}

.feature .feature-text .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.feature .feature-text h2 {
    max-width: 577px;
    padding: 18px 0;
}

.feature .feature-text .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    max-width: 590px;
}

.feature .feature-section {
    margin-top: 80px;
    display: flex;
}

.feature .feature-section .item:nth-child(2) {
    margin: 0 200px 0 209px;
}

.feature .feature-section .item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature .feature-section .item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}

/* =============Popular========== */
.popular {
    padding: 65px 0 189px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .info {
    max-width: 525px;
}

.popular-top .info .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.popular-top .info .desc {
    margin-top: 19px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.popular .popular-top a {
    margin-top: 139px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .course-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}
.popular .course-list .course-item {
    width: 33.33%;
    position: relative;
}

.popular .course-list .course-item .thumb {
    object-fit: cover;
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.5;
    background: #d0efed;
}

.popular .course-list .course-item .info {
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
    max-width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-list .course-item .info .value {
    color: #767e7e;
    font-size: 1.6rem;
    margin: 16px 0 12px;
}

.popular .course-list .course-item .info .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.popular .course-list .course-item .info .stat {
    margin-top: 18px;
    margin-left: -10px;
    display: flex;
}

.popular .course-list .course-item .info .stat p::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: 0 10px;
}

/* =============Stat========== */

.countstat {
    margin-top: 135px;
    padding: 65px 0;
}

.countstat .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.countstat .body .info {
    text-align: center;
}

.countstat .body .info .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* =============Testimonial========== */

.testimonial {
    margin-top: 135px;
    padding: 65px 0;
}

.testimonial .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial .body .content {
    width: 36%;
}

.testimonial .body .content blockquote {
    margin-top: 27px;
    max-width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.testimonial .body .content .desc {
    display: flex;
    align-items: center;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.testimonial .body .content .desc::before {
    display: inline-block;
    margin-right: 5px;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
}

.testimonial .body .content .desc .author {
    color: #070707;
    font-weight: 500;
}

.testimonial .body .content .control {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.testimonial .body .content .control .chevron-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #2ac9bf;
}

.testimonial .images-block {
    width: 58%;
    height: 481px;
    position: relative;
}

.testimonial .images-block .avatar {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.testimonial .images-block .avatar.center {
    position: absolute;
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}
.testimonial .images-block .avatar.top-right {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 19px;
    right: 0;
}
.testimonial .images-block .avatar.top-left {
    position: absolute;
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
}
.testimonial .images-block .avatar.left {
    position: absolute;
    left: 0;
    bottom: 145px;
}

.testimonial .images-block .avatar.bottom-left {
    position: absolute;
    left: 212px;
    bottom: 0;
}

.testimonial .images-block .avatar.bottom-right {
    position: absolute;
    right: 32px;
    bottom: 29px;
}

/* =============Action========== */

.action {
    margin-top: 65px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.action .body {
    display: flex;
    align-items: center;
    gap: 410px;
}

.action .body .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

.action .body .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* =============Footer========== */

.footer {
    padding: 130px 0 50px;
}

.footer .row {
    display: flex;
    gap: 144px;
}

.footer .row .column.end {
    margin-left: -7px;
}

.footer .row .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.footer .row ul {
    margin-top: 26px;
}

.footer .row ul li {
    margin-top: 18px;
}

.footer .row ul li a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.footer .row img {
    margin-right: 9px;
}

.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
